
<h1>All Books</h1>
<br>
<% if @books != nil %>
   <% @books.each do |book| %>
      <% if book.fiction %>
         <h3><%= book.name %></h3>
         <h2>Pages: <%= book.pages %></h2>
         <h2>Fiction: <%= book.fiction %></h2>
         <%=link_to("Edit #{book.name}", "/books/#{book.id}/edit")%>
         <%=link_to("Delete #{book.name}", "/books/#{book.id}", method: :delete)%>
      <% end %>
   <% end %>
<% end %>
<br>
<a href="/authors">Author Index</a>